@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: "Inter", sans-serif;
}

html, body{
    height: 100%;
}


.estilo-pagina {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px;
    background: #F3F5FC;
    display: flex;
    justify-content: space-between;

 
}

.parte-esquerda {
    width: 80%;
    height: 100%;
    display: block;
    /* border: 1px solid blueviolet; */

}

.cabecalho-esquerdo {
    position: relative;
    width: 100%;
    /* border:1px solid black; */
    
}

.xesque-esquerdo {
    height: 94%;
}

.principal-esquerdo {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /* display: flex; */
    /* border: 1px solid red; */
    /* border: 1px solid rgb(43, 226, 67); */
    flex-grow: 1;
}

.texto-esquerdo {
    width: 100%;
    height: 80%; 
    display: flex;
    align-items: center; 
    /* border: 1px solid rgb(226, 205, 43); */
}


.textarea-texto{
    margin: 0 auto;
    background: #F3F5FC;
    width: 70%;
    height: 80%; 
    resize: none;
    border: none;
    color: #0A3871;
    font-size: 30px;
    line-height: 32px;
    margin-top: 40px;
    text-align: justify;
}

.textarea-texto::placeholder {
    color: #0A3871;
    font-size: 30px;
}

.textarea-texto:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.inferior-esquerdo {
    width: 70%;
    margin: 2em auto;

}

.texto-aviso{
    background-image: url(../IMG/icon-note.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 16px;
    padding-left: 30px;
    font-size: 12px;
}

.div-boton-esquerdo {
    display: flex;
    justify-content: space-between;
    
}

.botao {
    font-size: 16px;
    text-align: center;
    margin-top: 1em;
    width: 278px;
    height: 3.5em;
    border: 1px solid #0A3871;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.5s;
    color: #0A3871;
    background: #D8DFE8;
}

.botao:hover{
    background: #cdd7fe;
}

.botao-codificador{
    background: #0A3871;
    color: white;
}

.botao-codificador:hover{
    background: #032957;
}

.parte-direita {
    width: 27%;
    height: 100%;
    background: white;
    border-radius: 24px;
    padding: 34px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* border: 1px solid rgb(250, 11, 11) */
}

.xesque-direito {
    width: 100%;
    height: fit-content;
    
}

.conteudo-direito img{
    margin: 0 auto;
    width: 100%;
}

.conteudo-direito h1{
    padding: 1.5em 0 1em 0;
    line-height: 150%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: #343A40;
}

.conteudo-direito p{
    font-size: 0.85em;
    color: #495057;
    line-height: 150%;
    text-align: center;
}

.parte-direita-botao {
    width: 100%;
    height: auto;
}

.botao-copiar{
    display: none;
    position: relative;
    background: none;
    width: 100%;
}

.textarea-resultado {
    display: none;
    width: 100%;    
    height: 100%;
    background: #cdd7fe;
    
}

.texto-resultado {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline:none;
    padding: 0;
    color: #495057;
    font-size: 1.35em;
    line-height: 29px;
    background: white;
    
}

@media screen and (max-width: 1279px) {
    .estilo-pagina {
        display: block;
        padding: 50px;
        height: auto;
        background: #5ea4fa;
    }

    .parte-esquerda {
        width: 100%;
    }

    .principal-esquerdo {
        width: 100%;
        margin-top: 30px;
    }

    .textarea-texto {
        width: 100%;
        height: 300px;
    }
    
    .inferior-esquerdo {
        width: 100%;

    }

    .parte-direita {
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

    .imagem-direita {
        display: none;
        
    }

    .textarea-resultado{
        width: 100%;
        height: auto;
    }
}


/* Parte Responsiva, deixe responsivo */

@media screen and (max-width: 767px) {
    .estilo-pagina {
        display: block;
        padding: 20px;
        height: auto;
    }

    .parte-esquerda {
        width: 100%;
    }

    .principal-esquerdo {
        width: 100%;
        margin-top: 30px;
    }

    .textarea-texto {
        width: 100%;
        height: 300px;
    }
    
    .inferior-esquerdo {
        width: 100%;

    }

    .div-boton-esquerdo {
        display: block;
        width: 100%;
    }

    .botao {
        width: 100%;
        height: 75px;
        border-radius: 1.7em;
    }

    .parte-direita {
        width: 100%;
        height: auto;
    }

    .imagem-direita {
        display: none;
        
    }

    .textarea-resultado{
        width: 100%;
        height: auto;
    }

    
    .parte-direita-botao {
        width: 100%;
        height: auto;
        /* border: 1px solid blue; */
    }

    
}