@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    font-family: "Inter", sans-serif;
}

html, body{
    height: 100%;
}


.estilo-pagina {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px;
    background: #F3F5FC;
    display: flex;
    justify-content: space-between;
 
}

.parte-esquerda {
    width: 80%;
}

.cabecalho-esquerdo {
    position: relative;
    width: 100%;
    /* border: 1px solid red; */

}

.principal-esquerdo {
    width: 80%;
    margin: 0 auto;
    
}

.texto-esquerdo {
    width: 100%;
    display: flex;
    align-items: center; 
    
}

.textarea-texto{
    margin: 0 auto;
    background: #F3F5FC;
    width: 70%;
    height: 433.5px; 
    resize: none;
    border: none;
    color: #0A3871;
    font-size: 30px;
    line-height: 32px;
    margin-top: 40px;
    text-align: justify;
    /* border:1px solid black; */
}

.textarea-texto::placeholder {
    color: #0A3871;
    font-size: 30px;
}

.textarea-texto:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.inferior-esquerdo {
    width: 70%;
    margin: 2em auto;

}

.texto-aviso{
    background-image: url(/IMG/icon-note.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 16px;
    padding-left: 30px;
    font-size: 12px;
}

.div-boton-esquerdo {
    display: flex;
    justify-content: space-between;
    
}

.botao {
    font-size: 16px;
    text-align: center;
    margin-top: 1em;
    width: 278px;
    height: 3.5em;
    border: 1px solid #0A3871;
    border-radius: 1em;
    cursor: pointer;
    transition: 0.5s;
    color: #0A3871;
    background: #D8DFE8;
}

.botao:hover{
    background: #cdd7fe;
}

.botao-codificador{
    background: #0A3871;
    color: white;
}

.botao-codificador:hover{
    background: #032957;
}

.parte-direita {
    width: 27%;
    height: 100%;
    background: white;
    border-radius: 24px;
    padding: 34px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


.parte-direita div img{
    margin: 0 auto;
    width: 100%;
}

.parte-direita div h1{
    padding: 1.5em 0 1em 0;
    line-height: 150%;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: #343A40;
}

.parte-direita div p{
    font-size: 0.85em;
    color: #495057;
    line-height: 150%;
    text-align: center;
}

.botao-copiar{
    position: absolute;
    bottom: 34px;
    right: 46px;
    background: none;
}

